<div class="banner_wrapper_dashboard">
  <div class="container-dashboard">
    <div class="drink-title-frame"> 
        <h1 class="drink-title">Alcohol</h1>
        <p>Click on any item to see more details about it</p>
    </div>
    <% @alcohols.order("name asc").each do |alcohol| %>
        <div class="beverages">
        <h1 class="drink-title"><%= alcohol.name %></h1>
            <div class="showhide" style="display:none">
                <p class="drink-para"><%= alcohol.description %></p>
            </div>
        </div>

        <div>
          <% if alcohol.quantity > 0 %>
            <%= simple_form_for alcohol do |f| %>
                <%= f.hidden_field :quantity, :value => "#{alcohol.quantity - 1}"  %>
                <%= f.button :submit, "-", class: "btn-drink" %>
            <% end %> 
          <% end %>

        <p><%= alcohol.quantity %></p>

        <%= simple_form_for alcohol do |f| %>
            <%= f.hidden_field :quantity, :value => "#{alcohol.quantity + 1}"  %>
            <%= f.button :submit, "+", class: "btn-drink" %>
        <% end %> 
      </div>
    <% end %>
  </div>
</div>