<%= render 'shared/navbarnavy' %>
<html class="beverages">
<h1 class= "beverage-title-index">Beverages</h1>

<%= link_to beverages_tea_path, :action => 'go' do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url(https://images.pexels.com/photos/39471/cup-tee-teacup-glass-cup-39471.jpeg?cs=srgb&dl=color-colorful-colourful-39471.jpg&fm=jpg)">
    TEA
  </div>
<% end %>

<%= link_to beverages_softdrink_path, :action => 'go' do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url(https://images.pexels.com/photos/1643324/pexels-photo-1643324.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260.jpg&fm=jpg)">
    SOFT DRINKS
  </div>
<% end %>

<%= link_to beverages_alcohol_path, :action => 'go' do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url(https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260.jpg&fm=jpg)">
    ALCOHOL
  </div>
<% end %>

<%= link_to beverages_cocktail_path, :action => 'go' do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url(https://images.pexels.com/photos/613037/pexels-photo-613037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260.jpg&fm=jpg)">
    COCKTAILS
  </div>
<% end %>

<%= link_to beverages_coffee_path, :action => 'go' do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url(https://images.pexels.com/photos/34085/pexels-photo.jpg?cs=srgb&dl=beans-brown-coffee-34085.jpg&fm=jpg)">
    COFFEE
  </div>
<% end %>
