<div class="banner_wrapper_dashboard">
  <div class="container-dashboard">
    <div class="drink-title-frame">
      <h1 class="beverage-title">Soft Drinks</h1>
      <h2 class="drink-sub">Click on an item for more details</h2>
    </div>
    <% @soft_drinks.order("name asc").each do |soft_drink| %>
        <div class="beverages">
        <h1 class="drink-title"><%= soft_drink.name %></h1>
            <div class="showhide" style="display:none">
                <p class="drink-para"><%= soft_drink.description %></p>
            </div>
        </div>

        <div class="quantity-buttons">
          <%= simple_form_for soft_drink do |f| %>
              <%= f.hidden_field :quantity, :value => "#{soft_drink.quantity - 1}"  %>
              <%= f.button :submit, "-", class: "btn-drink" %>
          <% end %> 

        <p><%= soft_drink.quantity %></p>

        <%= simple_form_for soft_drink do |f| %>
            <%= f.hidden_field :quantity, :value => "#{soft_drink.quantity + 1}"  %>
            <%= f.button :submit, "+", class: "btn-drink" %>
        <% end %> 
        </div>
    <% end %>
  </div>
</div>