<div class="banner_wrapper_login">
  <div class="container_preferences">
    <h1 class="preferences-text">Edit <%= resource_name.to_s.humanize %></h1>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "new-password" },
                    placeholder: "Enter your new password" %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" },
                    placeholder: "Confirm your new password" %>
        <%= f.input :current_password,
                    required: true,
                    input_html: { autocomplete: "current-password" },
                    placeholder: "••••••••" %>
      </div>
      <div class="edit-actions">
      <button type="button" class="btn-one">
      <%= f.button :submit, "UPDATE" %>
      </button>
    <% end %>
    <br>
    <%= link_to "DELETE MY ACCOUNT", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "edit-link" %></p>
    <%= link_to "BACK", root_path, class: "edit-link" %>
    </div>
  </div>
</div>
