<h1>
  <%= @chatroom.name %>
</h1>

<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'chatrooms' %>
  </div>

  <div class="col">
    <div class="chat">
      <% @chatroom_messages.each do |chatroom_message| %>
        <div class="chat-message-container">
          <div class="row no-gutters">
            <div class="col-auto text-center">
            </div>

            <div class="col">
              <div class="message-content">
                <div class="text-right">
                  <small>
                    <%= "#{chatroom_message.user.name} - #{chatroom_message.created_at}" %>
                  </small>
                </div>
                
                <p class="mb-1">
                  <%= chatroom_message.content %>
                </p>

              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= simple_form_for [@chatroom, @chatroom_message] do |f| %>
      <div class="input-group mb-3">
        <%= f.input :content, as: :string,
                                 wrapper: false,
                                 label: false,
                                 input_html: {
                                   class: 'chat-input'
                                 } %>
        <div class="input-group-append">
          <%= f.submit "Send", class: 'btn btn-primary chat-input' %>
        </div>
      </div>

      <%= f.input :chatroom_id, as: :hidden %>
    <% end %>
  </div>
</div>


