<div class="banner_wrapper_login">
  <div class="container_preferences">
    <div class="container-list-pref">
      <h1 class="preferences-text">Character</h1>
        <div class="item-pref item-2">
          <% characters = ["Active", "Relaxation","Party", "Romantic", "Family", "Date"] %>
            <% characters.each do |character| %>
              <ul class="preference-list">
                <% if @guest_preference.character.include?("#{character.capitalize}") %>
                  <li> <input type="checkbox" class="checkbox" checked > <%= " #{character.capitalize}" %> </li> 
                <% else %>
                  <li> <input type="checkbox" class="checkbox"><%= " #{character.capitalize}" %> </li> 
                <% end %>    
              </ul>
            <% end %>
        </div>
    </div>
    <div class="container-list-pref">     
    <h1 class="preferences-text">Interests</h1>
      <div class="item-pref item-3">
        <% interests = [ "sailing", "swimming", "shopping", "sun bathing", "scuba diving", "island tours", "snorkeling", "windsurfing", "fishing", "casino", "beach walk", "exercise", "parasailing", "dining ashore", "water skiing", "wave running", "music dancing", "none"] %>
          <% interests.each do |interest| %>
              <ul class="preference-list">
                <% if @guest_preference.interest.include?("#{interest.capitalize}") %>  
                  <li> <input type="checkbox" class="checkbox" checked > <%= " #{interest.capitalize}" %> </li> 
                <% else %>
                  <li> <input type="checkbox" class="checkbox"> <%= " #{interest.capitalize}" %> </li> 
                <% end %>
              </ul>
          <% end %>
      </div> 
    </div>
    <div class="container-list-pref">
    <h1 class="preferences-text">Food Preferences</h1>
    <h2 class="second-heading">Eggs</h2>
      <div class="item-pref item-4">
        <% eggs = ["SOFT BOILED", "HARD BOILED", "SCRAMBLED", "FRIED", "POACHED", "OMELETTE", "NONE"] %>
          <% eggs.each do |egg| %>
            <ul class="preference-list">
              <% if @guest_preference.food_preference.include?("#{egg.capitalize}") %>
                <li> <input type="checkbox" class="checkbox" checked > <%= " #{egg.capitalize}" %> </li> 
              <% else %>
                <li> <input type="checkbox" class="checkbox"><%= " #{egg.capitalize}" %> </li> 
              <% end %>    
            </ul>
          <% end %>
      </div>    
    </div>
    <div class="container-list-pref">
    <h2 class="second-heading">DAIRY-FREE</h2>
      <div class="item-pref item-5">
        <% dairys_free = ["ALMOND", "SOYA", "RICE", "COCONUT", "LACTOSE FREE", "NONE"] %>
        <% dairys_free.each do |dairy_free| %>
          <ul class="preference-list">
            <% if @guest_preference.food_preference.include?("#{dairy_free.capitalize}") %>
              <li> <input type="checkbox" class="checkbox" checked > <%= " #{dairy_free.capitalize}" %> </li> 
            <% else %>
              <li> <input type="checkbox" class="checkbox"><%= " #{dairy_free.capitalize} milk" %> </li> 
            <% end %>    
          </ul>
        <% end %>
      </div>
    </div>
    <div class="container-list-pref">
    <h2 class="second-heading">BREAKFAST</h2>
      <div class="item-pref item-6"> 
        <% breakfast_foods = ["LIGHT", "CONTINENTAL", "COOKED BREAKFAST", "NOTHING", "BACON", "SAUSAGE", "HAM", "POTATOES", "FRENCH TOAST", "PANCAKES", "WAFFLES", "CROISSANTS", "ENGLISH MUFFINS", "MUFFINS", "JELLY/JAM", "SPREADS", "NONE"] %>
        <% breakfast_foods.each do |breakfast_food| %>
          <ul class="preference-list">
            <% if @guest_preference.food_preference.include?("#{breakfast_food.capitalize}") %>
              <li> <input type="checkbox" class="checkbox" checked > <%= " #{breakfast_food.capitalize}" %> </li> 
            <% else %>
              <li> <input type="checkbox" class="checkbox"><%= " #{breakfast_food.capitalize}" %> </li> 
            <% end %>    
          </ul>
        <% end %>
      </div>
    </div>
    <div class="container-list-pref">
    <h2 class="second-heading">MEAT</h2>
      <div class="item-pref item-7">
        <% meats = ["RARE", "MEDIUM-RARE", "WELL-DONE"] %>
        <% meats.each do |meat| %>
          <ul class="preference-list">
            <% if @guest_preference.food_preference.include?("#{meat.capitalize}") %>
              <li> <input type="checkbox" class="checkbox" checked > <%= " #{meat.capitalize}" %> </li> 
            <% else %>
              <li> <input type="checkbox" class="checkbox"><%= " #{meat.capitalize}" %> </li> 
            <% end %>    
          </ul>
        <% end %> 
      </div>
    </div>
    <div class="container-list-pref">
    <h2 class="second-heading">BREAD</h2>
      <div class="item-pref item-8">
        <% bread_types = [ "Rye", "White", "Wheat", "Raisin", "None"] %>
        <% bread_types.each do |bread_type| %>
          <ul class="preference-list">
            <% if @guest_preference.food_preference.include?("#{bread_type.capitalize}") %>
              <li> <input type="checkbox" class="checkbox" checked > <%= " #{bread_type.capitalize}" %> </li> 
            <% else %>
              <li> <input type="checkbox" class="checkbox"><%= " #{bread_type.capitalize}" %> </li> 
            <% end %>    
          </ul>
        <% end %>
      </div>
    </div>
    <div class="container-list-pref">
    <h2 class="second-heading">LUNCH</h2>
      <div class="item-pref item-9">
        <% lunch_types = ["LIGHT", "SANDWICHES", "HOT", "COLD-MEATS", "SALADS", "SOUP", "EGGS"] %>
        <% lunch_types.each do |lunch_type| %>
          <ul class="preference-list">
            <% if @guest_preference.food_preference.include?("#{lunch_type.capitalize}") %>
              <li> <input type="checkbox" class="checkbox" checked > <%= " #{lunch_type.capitalize}" %> </li> 
            <% else %>
              <li> <input type="checkbox" class="checkbox"><%= " #{lunch_type.capitalize} lunch" %> </li> 
            <% end %>    
          </ul>
        <% end %>
      </div>
    </div>
    <div class="container-list-pref">
      <h2 class="second-heading">HORS D'OEUVRES</h2>
      <div class="item-pref item-10">
        <% hors_doeuvres = ["CAVIAR", "PATÉ", "CRUDITÉS", "SUSHI", "NUTS", "CRISPS", "CHARCUTERIE", "NONE"] %>
        <% hors_doeuvres.each do |hors_doeuvre| %>
          <ul class="preference-list">
            <% if @guest_preference.food_preference.include?("#{hors_doeuvre.capitalize}") %>
              <li> <input type="checkbox" class="checkbox" checked > <%= " #{hors_doeuvre.capitalize}" %> </li> 
            <% else %>
              <li> <input type="checkbox" class="checkbox"><%= " #{hors_doeuvre.capitalize}" %> </li> 
            <% end %>    
          </ul>
        <% end %>
      </div>
    </div>
    <div class="container-list-pref">
    <h2 class="second-heading">SNACKS</h2>
      <div class="item-pref item-11">
        <% snacks = ["CAKES", "BISCUITS", "MUFFINS", "BROWNIES", "SCONES", "BUNS", "PROTEIN BARS", "NUTS", "FRESH FRUIT", "DRIED FRUIT", "SEEDS", "POPCORN", "CRUDITÉS & DIPS", "YOGURTS", "NONE"] %>
        <% snacks.each do |snack| %>
          <ul class="preference-list">
            <% if @guest_preference.food_preference.include?("#{snack.capitalize}") %>
              <li> <input type="checkbox" class="checkbox" checked > <%= " #{snack.capitalize}" %> </li> 
            <% else %>
              <li> <input type="checkbox" class="checkbox"><%= " #{snack.capitalize}" %> </li> 
            <% end %>    
          </ul>
        <% end %>
      </div>
    </div>
    <div class="container-list-pref">
    <h2 class="second-heading">CUISINE PREFERENCES</h2>
      <div class="item-pref item-12">
        <% cuisines = ["OPEN TO NEW FLAVOURS", "PREFERENCE FOR TRADITIONAL", "SPANISH", "ITALIAN",  "FRENCH", "MEDITERRANEAN", "MEXICAN", "THAI", "FUSION", "AMERICAN", "BRITISH", "INDIAN", "CHINESE", "CHEF'S SUGGESTION"] %>
        <% cuisines.each do |cuisine| %>
          <ul class="preference-list">
            <% if @guest_preference.food_preference.include?("#{cuisine.capitalize}") %>
              <li> <input type="checkbox" class="checkbox" checked > <%= " #{cuisine.capitalize}" %> </li> 
            <% else %>
              <li> <input type="checkbox" class="checkbox"><%= " #{cuisine.capitalize}" %> </li> 
            <% end %>    
          </ul>
        <% end %>
      </div>
    </div>
    <div class="container-list-pref">
    <h2 class="second-heading">VEGETABLES</h2>
      <div class="item-pref item-13">
        <% vegetables = ["BROCCOLI", "MUSHROOMS", "CAULIFLOWER", "CARROTS", "COURGETTE", "PEAS", "POTATOES", "SPINACH", "TOMATOS", "CORN", "ONIONS", "COURGETTES", "LIKE EVERYTHING", "NONE"] %>
        <% vegetables.each do |vegetable| %>
          <ul class="preference-list">
            <% if @guest_preference.food_preference.include?("#{vegetable.capitalize}") %>
              <li> <input type="checkbox" class="checkbox" checked > <%= " #{vegetable.capitalize}" %> </li> 
            <% else %>
              <li> <input type="checkbox" class="checkbox"><%= " #{vegetable.capitalize}" %> </li> 
            <% end %>    
          </ul>
        <% end %>
      </div>
    </div>
    <div class="container-list-pref">
    <h2 class="second-heading">DESSERTS</h2>
      <div class="item-pref item-14">
        <% desserts = ["TARTS", "CAKES", "ICE CREAM", "FRUIT", "YOGURT", "CHOCOLATE", "MOUSSE", "CRUMBLE", "CHEF'S DESSERT", "NONE"] %>
        <% desserts.each do |dessert| %>
          <ul class="preference-list">
            <% if @guest_preference.food_preference.include?("#{dessert.capitalize}") %>
              <li> <input type="checkbox" class="checkbox" checked > <%= " #{dessert.capitalize}" %> </li> 
            <% else %>
              <li> <input type="checkbox" class="checkbox"><%= " #{dessert.capitalize}" %> </li> 
            <% end %>    
          </ul>
        <% end %> 
      </div>
    </div>
    <div class="container-list-pref">
    <h2 class="second-heading">SOFT DRINKS</h2>
      <div class="item-pref item-15">
        <% soft_drinks = ["Coke", "Diet Coke", "Sprite", "Diet Sprite", "Pepsi", "Diet Pepsi", "Caffeine-free", "Ginger Ale", "Lemonade", "Orange Juice", "Grapefruit Juice", "Apple Juice", "Cranberry Juice", "Tomato Juice", "Club Soda", "Tonic Water", "Still water", "Sparkling water"] %>
          <% soft_drinks.each do |soft_drink| %>
            <ul class="preference-list">
              <% if @guest_preference.beverage_preference.include?("#{soft_drink.capitalize}") %>
                <li> <input type="checkbox" class="checkbox" checked > <%= " #{soft_drink.capitalize}" %> </li> 
              <% else %>
                <li> <input type="checkbox" class="checkbox"><%= " #{soft_drink.capitalize}" %> </li> 
              <% end %>    
            </ul>
          <% end %>
      </div> 
    </div>
    <div class="container-list-pref">
    <h2 class="second-heading">HOT DRINKS</h2>
      <div class="item-pref item-16">
        <% hot_drinks = ["Regular coffee/tea", "Decaf coffee/tea", "Espresso", "Ice Tea/herbal tea", "Hot Chocolate"] %>
          <% hot_drinks.each do |hot_drink| %>
            <ul class="preference-list">
              <% if @guest_preference.beverage_preference.include?("#{hot_drink.capitalize}") %>
                <li> <input type="checkbox" class="checkbox" checked > <%= " #{hot_drink.capitalize}" %> </li> 
              <% else %>
                <li> <input type="checkbox" class="checkbox"><%= " #{hot_drink.capitalize}" %> </li> 
              <% end %>    
            </ul>
          <% end %>
      </div>
    </div>
    <div class="container-list-pref">
    <h2 class="second-heading">GIN</h2>
      <div class="item-pref item-17">
        <% gins = ["Bombay", "Tanqueray", "Beefeater", "Sapphire", "Gordon's", "Hendricks", "None"] %>
          <% gins.each do |gin| %>
            <ul class="preference-list">
              <% if @guest_preference.alcohol_preference.include?("#{gin.capitalize}") %>
                <li> <input type="checkbox" class="checkbox" checked > <%= " #{gin.capitalize}" %> </li> 
              <% else %>
                <li> <input type="checkbox" class="checkbox"><%= " #{gin.capitalize}" %> </li> 
              <% end %>    
            </ul>
          <% end %>
      </div>
    </div>
    <div class="container-list-pref">
    <h2 class="second-heading">BEERS</h2>
      <div class="item-pref item-18">
        <% beers = ["Amstel", "Miller", "Heineken", "Miller lite", "Amstel lite", "Budweiser", "Corona", "Budweiser light", "Corona light", "Icehouse", "Guiness", "Coors light", "None"] %>
          <% beers.each do |beer| %>
            <ul class="preference-list">
              <% if @guest_preference.alcohol_preference.include?("#{beer.capitalize}") %>
                <li> <input type="checkbox" class="checkbox" checked > <%= " #{beer.capitalize}" %> </li> 
              <% else %>
                <li> <input type="checkbox" class="checkbox"><%= " #{beer.capitalize}" %> </li> 
              <% end %>    
            </ul>
          <% end %>
      </div>
    </div>
    <div class="container-list-pref">
    <h2 class="second-heading">WHISKEY</h2>
      <div class="item-pref item-19">
        <% whiskys = ["Johnny Walker", "Dewars", "J & B", "Glenlivet", "Glenfiddich", "Famous Grouse", "Blue Label", "Cutty Sark", "Jack Daniels", "Crown Royal", "Seagrams", "Canadian Club", "None"] %>
          <% whiskys.each do |whisky| %>
            <ul class="preference-list">
              <% if @guest_preference.alcohol_preference.include?("#{whisky.capitalize}") %>
                <li> <input type="checkbox" class="checkbox" checked > <%= " #{whisky.capitalize}" %> </li> 
              <% else %>
                <li> <input type="checkbox" class="checkbox"><%= " #{whisky.capitalize}" %> </li> 
              <% end %>    
            </ul>
        <% end %>
      </div>
      <div class="container-list-pref">
      <h2 class="second-heading">RUM</h2>
        <div class="item-pref item-20">
          <% rhums = ["Bacardi", "Havana Club", "Malibu", "Mount Gay", "Myers", "None"] %>
            <% rhums.each do |rhum| %>
              <ul class="preference-list">
                <% if @guest_preference.alcohol_preference.include?("#{rhum.capitalize}") %>
                  <li> <input type="checkbox" class="checkbox" checked > <%= " #{rhum.capitalize}" %> </li> 
                <% else %>
                  <li> <input type="checkbox" class="checkbox"><%= " #{rhum.capitalize}" %> </li> 
                <% end %>    
              </ul>
            <% end %>
        </div>
      </div>
      <div class="container-list-pref">
      <h2 class="second-heading">ALCOHOLS</h2>
        <div class="item-pref item-21">
          <% other_alcohols = ["Limoncello", "Cognac", "Grappa", "Hierbas","Brandy", "Port", "Amaretto", "Baileys", "Cointreau", "Drambuie", "Grand Marnier", "Galliano", "Kahlua", "Campari", "Sambucca", "Sherry", "Port", "Tia Maria", "None"] %>
            <% other_alcohols.each do |other_alcohol| %>
              <ul class="preference-list">
                <% if @guest_preference.alcohol_preference.include?("#{other_alcohol.capitalize}") %>
                  <li> <input type="checkbox" class="checkbox" checked > <%= " #{other_alcohol.capitalize}" %> </li> 
                <% else %>
                  <li> <input type="checkbox" class="checkbox"><%= " #{other_alcohol.capitalize}" %> </li> 
                <% end %>    
              </ul>
            <% end %>
        </div>
      </div>
      <div class="container-list-pref">
      <h2 class="second-heading">VODKA</h2>
        <div class="item-pref item-22">
          <% vodkas = ["Smirnoff", "Stoli", "Grey Goose", "Kettle One", "Absolut", "Belvedere", "Vox", "None"] %>
            <% vodkas.each do |vodka| %>
              <ul class="preference-list">
                <% if @guest_preference.alcohol_preference.include?("#{vodka.capitalize}") %>
                  <li> <input type="checkbox" class="checkbox" checked > <%= " #{vodka.capitalize}" %> </li> 
                <% else %>
                  <li> <input type="checkbox" class="checkbox"><%= " #{vodka.capitalize}" %> </li> 
                <% end %>    
              </ul>
            <% end %>
        </div>
      </div>
      <div class="container-list-pref">
      <h2 class="second-heading">COCKTAILS</h2>
        <div class="item-pref item-23">
          <% cocktails = ["Pina Colada", "Martinis", "Bloody Mary", "Cosmo", "Margarita", "Rum Punch", "Daiquiri", "Manhattan", "Mojito", "None"] %>
            <% cocktails.each do |cocktail| %>
              <ul class="preference-list">
                <% if @guest_preference.alcohol_preference.include?("#{cocktail.capitalize}") %>
                  <li> <input type="checkbox" class="checkbox" checked > <%= " #{cocktail.capitalize}" %> </li> 
                <% else %>
                  <li> <input type="checkbox" class="checkbox"><%= " #{cocktail.capitalize}" %> </li> 
                <% end %>    
              </ul>
            <% end %>
        </div>
      </div>

      <div class="pref-form-top">
      <%= simple_form_for @guest_preference do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %> 
          <%= f.input :shoe_size, placeholder: "EUR 38"  %> 
          <%= f.input :height, placeholder: "175cm" %> 
          <%= f.input :weight, placeholder: "65kg" %> 
          <%= f.hidden_field :character %> 
          <%= f.input :specific_request %>
          <%= f.hidden_field :interest %> 
          <%= f.input :medical_details %> 
          <%= f.hidden_field :food_preference %> 
          <%= f.hidden_field :beverage_preference %> 
          <%= f.hidden_field :alcohol_preference %> 
          <%= f.input :flower, label: "Flowers" %> 
          <%= f.input :newspaper_type, placeholder: "The Times" %>
          <button type="button" class="btn-pref">
          <%= f.button :submit, "UPDATE" %>
          </button>
      <% end %>
    </div>
    </div>
  </div>
</div>
