<div class="dashboard-notifications">
  <h1 class="login-text-agenda">Your Agenda</h1>
</div>

<% @activities.each do |activity| %>
  <div class="agenda-input">
    <h1 class="agenda-text"><%= activity.name %></h1>
    <p class="agenda-text"><%= "#{activity.start_at.strftime('%m/%d at %I:%M%p')} for #{activity.number_of_guest} persons" %>

    <div class="tender-agenda-buttons">
        <% if current_user.guest? %>
            <%= link_to "EDIT", activity_path(activity), class: 'btn-tender-agenda' %>
            <%= simple_form_for activity do |f| %>
                <%= f.hidden_field :reserved, :value => 'not_reserved' %>
                <button type="button" class="btn-agenda"><i class="fas fa-trash"></i>
                    <%= f.button :submit, value: '' %>
                </button>
            <% end %>
        
        <% else %>

            <%= simple_form_for activity do |f| %>
                <%= f.hidden_field :reserved, :value => 'not_reserved' %>
                <%= f.button :submit, "REFUSED", class: 'btn-tender-agenda' %>
            <% end %>

        <% end %>
    </div>
</div>
    <% end %> 

<% if current_user.guest? %>
    <% @beverages.each do |beverage| %>
      <div class="agenda-input">
        <h1 class="agenda-text"><%= beverage.name %></h1>

        <div class="quantity-buttons-agenda">
            <%= simple_form_for beverage do |f| %>
                <%= f.hidden_field :quantity, :value => "#{beverage.quantity - 1}"  %>
                <%= f.button :submit, "-", class: "btn-drink" %>
            <% end %> 

        <p class="agenda-text"><%= beverage.quantity %></p>

            <%= simple_form_for beverage do |f| %>
                <%= f.hidden_field :quantity, :value => "#{beverage.quantity + 1}"  %>
                <%= f.button :submit, "+", class: "btn-drink" %>
            <% end %> 

            <%= simple_form_for beverage do |f| %>
                <%= f.hidden_field :quantity, :value => 0 %>
                <button type="button" class="btn-agenda"><i class="fas fa-trash"></i>
                    <%= f.button :submit, value: "" %>
                </button>
            <% end %>
      </div>
    <% end %>
<% end %> 
</div>

<% @tenders.each do |tender| %>
  <div class="agenda-input">
    <p class="agenda-text"><%= "Tender called for #{tender.time.strftime('%m/%d at %I:%M%p')}" %></p>

    <div class="tender-agenda-buttons">
        <% if current_user.guest? %>
            <%= link_to "EDIT", tender_path(tender), class: 'btn-tender-agenda' %>
            <%= simple_form_for tender do |f| %>
                <%= f.hidden_field :called, :value => 'not_called' %>
                <button type="button" class="btn-agenda"><i class="fas fa-trash"></i>
                    <%= f.button :submit, value: "" %>
                </button>
            <% end %>
        
        <% else %>
            <%= simple_form_for tender do |f| %>
                <%= f.hidden_field :called, :value => 'not_called' %>
                <%= f.button :submit, "REFUSED", class: 'btn-tender-agenda' %>
            <% end %>
        <% end %>
  </div>
<% end %> 
</div>
