<div class="dashboard-notifications">
  <h1 class="login-text-dashboard">Your agenda</h1>
</div>

<div class="agenda-input">
    <% @activities.each do |activity| %>
        <h1 class="login-text-dashboard"><%= activity.name %></h1>
        <p class="agenda-text"><%= "#{activity.start_at.strftime('%m/%d at %I:%M%p')} for #{activity.number_of_guest} persons" %>

        <% if current_user.guest? %>
            <%= link_to "Edit", activity_path(activity), class: 'btn-tender' %>
            <%= simple_form_for activity do |f| %>
                <%= f.hidden_field :reserved, :value => 'not_reserved' %>
                <%= f.button :submit, "DELETE", class: 'btn-tender' %>
            <% end %>
        
        <% else %>

            <%= simple_form_for activity do |f| %>
                <%= f.hidden_field :reserved, :value => 'not_reserved' %>
                <%= f.button :submit, "REFUSE", class: 'btn-tender' %>
            <% end %>

        <% end %>
    <% end %> 

    <% if current_user.guest? %>
        <% @beverages.each do |beverage| %>
            <h1 class="login-text-dashboard"><%= beverage.name %></h1>


            <div>
            <% if beverage.quantity != 0 %>
                <%= simple_form_for beverage do |f| %>
                    <%= f.hidden_field :quantity, :value => "#{beverage.quantity - 1}"  %>
                    <%= f.button :submit, "-", class: "btn-drink" %>
                <% end %> 
            <% end %>

            <p class="agenda-text"><%= beverage.quantity %></p>

                <%= simple_form_for beverage do |f| %>
                    <%= f.hidden_field :quantity, :value => "#{beverage.quantity + 1}"  %>
                    <%= f.button :submit, "+", class: "btn-drink" %>
                <% end %> 

                <%= simple_form_for beverage do |f| %>
                    <%= f.hidden_field :quantity, :value => 0 %>
                    <%= f.button :submit, "DELETE", class: 'btn-tender' %>
                <% end %>
            </div>

        <% end %>
    <% end %> 

    <% @tenders.each do |tender| %>
        <p class="agenda-text"><%= "Tender called for #{tender.time.strftime('%m/%d at %I:%M%p')}" %></p>

        <% if current_user.guest? %>
            <%= link_to "EDIT", tender_path(tender), class: 'btn-tender' %>
            <%= simple_form_for tender do |f| %>
                <%= f.hidden_field :called, :value => 'not_called' %>
                <%= f.button :submit, "DELETE", class: 'btn-tender' %>
            <% end %>
        
        <% else %>
            <%= simple_form_for tender do |f| %>
                <%= f.hidden_field :called, :value => 'not_called' %>
                <%= f.button :submit, "REFUSE", class: 'btn-tender' %>
            <% end %>
        <% end %>
    <% end %> 
</div>
