<%= link_to agenda_path, :action => 'go' do %> <%#= Faire page meteo? %>
  <div class="dashboard-weather-wrapper">
    <div class="dashboard-weather-card">
      <i class="<%= @icon %> icons"></i>
      <div class="weather-list">
        Meteo
      </div>
    </div>
  </div>
<% end %>

<h1><%= link_to "CHATROOM", booking_chatrooms_path(current_user.booking) %></h1>

<%= link_to agenda_path, :action => 'go' do %>
  <div>Agenda</div>
<% end %>

<%= link_to map_path, :action => 'go' do %>
  <div>Map</div>
<% end %>

<%= link_to tender_path(current_user.booking.yatch.tender), :action => 'go' do %>
  <div>Call a Tender</div>
<% end %>

<%= link_to booking_menus_path(current_user.booking), :action => 'go' do %>
  <div>Menu</div>
<% end %>

<%= link_to yatch_activities_path(current_user.booking.yatch), :action => 'go' do %>
  <div>Activities</div>
<% end %>

<%= link_to booking_beverages_path(current_user.booking), :action => 'go' do %>
  <div>Beverages</div>
<% end %>

<%= link_to beverages_alldaydining_path, :action => 'go' do %>
  <div>All Day Dining</div>
<% end %>

<% if current_user.guest_information == nil %>
  <%= link_to new_user_guest_information_path(current_user), :action => 'go' do %>
  <div>My information</div>
  <% end %>

<% else %>
  <%= link_to edit_guest_information_path(current_user), :action => 'go' do %>
    <div>Modify my information</div>
  <% end %>
<% end %>

<% if current_user.guest_preference == nil %>
  <%= link_to new_user_guest_preference_path(current_user), :action => 'go' do %> 
    <div>My preferences</div>
  <% end %>

<% else %>
  <%= link_to edit_guest_preference_path(current_user), :action => 'go' do %>
    <div>Modify my preferences</div>
  <% end %>
<% end %>

