<% if current_user.crew? && @total_orders > 0 %>
  <%= link_to order_path, :action => 'go' do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url(https://images.pexels.com/photos/1226398/pexels-photo-1226398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    <% if @total_orders == 1 %>
      <%= "#{@total_orders} Order pending" %>
    <% else %>
      <%= "#{@total_orders} Order's pending" %>
    <% end %> 
    </div>  
  <% end %>
<% end %>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url(https://images.pexels.com/photos/3768/sky-sunny-clouds-cloudy.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
  <% if request.location.latitude == nil  %>
    <div class="weather-heading">
      Active your localisation if you want to display the current weather
    </div>
  <% else %>
    <i class="<%= @icon %> weather-icon"></i>
    <div class="weather-heading">
      Today's Weather
    <ul class="weather-list">
      <li class="weather-list"><%= @currently[:summary] %></li>
      <li class="weather-list"><%= @currently[:temperature] %> °C</li>
      <li class="weather-list"><%= @currently[:precipProbability] %> % chance of rain</li>
      <li class="weather-list">Nearest storm : <%= @currently[:nearestStormDistance] %> Kms away</li>
      <li class="weather-list">Sunrise : <%= DateTime.strptime("#{@daily[:sunriseTime]}",'%s').strftime("%H:%M") %></li>
      <li class="weather-list">Sunset : <%= DateTime.strptime("#{@daily[:sunsetTime]}",'%s').strftime("%H:%M") %></li> 
    </ul>
    </div>
  <% end %>
</div>

<%= link_to chatroom_path(@chatroom.id), :action => 'go' do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url(https://images.pexels.com/photos/292426/pexels-photo-292426.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    Chatroom
  </div>
<% end %>

<%= link_to agenda_path, :action => 'go' do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url(https://images.pexels.com/photos/1020323/pexels-photo-1020323.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    Agenda
  </div>
<% end %>

<% if current_user.crew? %>
  <%= link_to users_path, :action => 'go' do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url(https://images.pexels.com/photos/1266017/pexels-photo-1266017.jpeg?cs=srgb&dl=adult-blur-business-trip-1266017.jpg&fm=jpg)">
      Guest Information
    </div>  
  <% end %>
<% end %>

<%= link_to map_path, :action => 'go' do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url(https://images.pexels.com/photos/697662/pexels-photo-697662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    Map
  </div>
<% end %>

<%= link_to tender_path(current_user.booking.yatch.tender), :action => 'go' do %>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url(https://images.pexels.com/photos/2351439/pexels-photo-2351439.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    Call a Tender
  </div>
<% end %>

<%= link_to booking_menus_path(current_user.booking), :action => 'go' do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url(https://images.pexels.com/photos/313700/pexels-photo-313700.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    Menu
  </div>
<% end %>

<%= link_to yatch_activities_path(current_user.booking.yatch), :action => 'go' do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url(https://images.pexels.com/photos/1430671/pexels-photo-1430671.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    Activities
  </div>
<% end %>


<%= link_to booking_beverages_path(current_user.booking), :action => 'go' do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url(https://images.pexels.com/photos/2104558/pexels-photo-2104558.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    Beverages
  </div>
<% end %>


<%= link_to beverages_alldaydining_path, :action => 'go' do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url(https://images.pexels.com/photos/1475/food-vegetables-italian-restaurant.jpg?cs=srgb&dl=aperitif-aperitivo-bar-1475.jpg&fm=jpg)">
    All Day Dining
  </div>
<% end %>

<%= link_to profile_path, :action => 'go' do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url(https://images.pexels.com/photos/346798/pexels-photo-346798.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    My profile
  </div>
<% end %>
  
